<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link rel="stylesheet" href="addstudent.css"> <!-- Link to the CSS file -->
</head>
<body>
    <div class="container">
        <h2>Add Student</h2>
        <form action="/addStudent" method="post">
            <label for="roll">Enter roll:</label>
            <input type="text" id="roll" name="roll" placeholder="Enter roll number">

            <label for="name">Enter name:</label>
            <input type="text" id="name" name="name" placeholder="Enter name">

            <label for="branch">Enter Branch:</label>
            <input type="text" id="branch" name="branch" placeholder="Enter branch">

            <label for="yop">Enter yop:</label>
            <input type="text" id="yop" name="yop" placeholder="Enter yop">

            <label for="cgpa">Enter cgpa:</label>
            <input type="text" id="cgpa" name="cgpa" placeholder="Enter cgpa">

            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>
