<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management System</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>Welcome to the Student Management System</h1>
        </div>
    </header>
    
    <nav>
        <div class="container">
            <ul>
                <li><a href="/openAddStudentPage">Add Student</a></li>
                <li><a href="/openUpdateStudentPage">Update Student</a></li>
                <li><a href="/openDeleteStudentPage">Delete Student</a></li>
                <li><a href="/openSearchStudentPage">Search Student</a></li>
                <li><a href="/fetchAllStudents">Get All Students</a></li>
                <li><a href="/deleteAllStudent">Delete All Students</a></li>
            </ul>
         
        </div>
      <
    </nav>

    <main>
        <div class="container_2">
            <!-- Main content goes here -->
            <p>Welcome to the Student Management System. Use the navigation above to manage student records.</p>
        </div>
    </main>
</body>
</html>
